*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*ส่วนหน้า login */
.decinput {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    margin-right: 30px;
}
.mb-4 input{
    border: none;
    background-color: transparent;
    outline-width: 0;
   
}
.mb-3 input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
/*แถบเมนูด้านข้าง*/
.title,.icon{
    color: rgb(175, 53, 53);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: normal;
}
.list:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    width: 100%;
}
.sub-list:hover{
    background-color: #f3c8c8;
    border-radius: 10px;
}

/*แต่งส่วน post*/

.user_avatar{
    border-radius: 50%;
    width: 50px;
    
}
/*messagesender*/


.messageSender_top{
    display: flex;
    align-items: center;
    padding: 15px;
}
.messageSender_top form{
    flex: 1;
    display: flex;
}

.messageSender_top form input{
    flex:1;
    outline-width: 0;
    border:none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.messageSender_bottom{
    display: flex;
    justify-content: space-evenly;
}
.messageSender_option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.messageSender_option h3{
    font-size: medium;
    margin-left: 10px;
}
.messageSender_option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}

/*post*/
.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgba(238, 238, 238, 0.938);
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}
.post_image img{
    width: 90%;
    margin-left: 50px;
}
.post_top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post_avatar{
    margin-right: 10px;
}
.post_topInfo h3{
    font-size: large;
}
.post_topInfo p{
    font-size: small;
    color: gray;
}
.post_bottom{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.post_options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 10px;
}
.post_option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post_option p{
    margin-left: 10px;
    margin-top: 20px;
}
.post_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
}
